-r src/requirements.txt

# isort
isort==5.9.3

# static analysis
autopep8==1.5.7
bandit==1.7.0
flake8==4.0.1
pep8-naming==0.12.1
pycodestyle==2.8.0
pylint==2.11.1
black

# testing
coverage==6.0.2
#pytest-freezegun==0.4.2
pytest==6.2.5
pytest-mock==3.6.1
pytest-cov==3.0.0
behave==1.2.6
attrs==21.2.0
wheel==0.37.0
cryptography==35.0.0